/* custom_loader.css */
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); /* Safari and older browsers */
    width: 100px;
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Use rgba for consistent transparency */
    z-index: 9999;
    border-radius: 10px;
    -webkit-border-radius: 10px; /* Safari and older browsers */
}


.loader {
	border: 1px solid #454546;
	border-top: 1px solid #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin { /* Safari and older browsers */
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
