.base-user-tab {
  background: var(--bg-input);
  display: grid;
  grid-template-columns: repeat(var(--84f29e72),1fr)
}

.base-user-tab .tab-item {
  width: 100%
}

.base-user-tab .tab-item.active {
  background: var(--bg-weight)
}
